body {
  background-color: rgb(253, 251, 251);
  font-family: Arial, Helvetica, sans-serif; }

#cabecalho {
  background-color: rgb(3, 107, 82);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 140%;
  z-index: 9999; }

#titulo {
  position: relative;
  text-align: center;
  color: rgb(253, 251, 251);
  z-index: 9999; }

#menu li a {
  position: fixed;
  font-size: 140%;
  top: 90px;
  left: 8px;
  color: rgb(253, 251, 251);
  z-index: 9999; }

figure {
  position: relative;
  top: 140px;
  text-align: center; }

#minha_foto {
  width: 20%; }

figcaption {
  font-size: 140%; }

table {
  position: relative;
  top: 130px;
  line-height: 0.6cm;
  border: 1px solid green;
  padding: 4px;
  margin: 20px; }

#tituloTabela {
  font-size: 150%;
  font-weight: 800;
  line-height: 1cm;
  text-align: left; }

.lado-a-lado {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.lado-esquerdo , .lado-direito {
  margin: 15px; }

.lado-esquerdo {
  width: 40%;
  position: relative;
  text-align: justify;
  line-height: 0.6cm;
  top: 130px; }

.lado-direito {
  width: 60%;
  text-align: justify;
  position: relative;
  line-height: 0.6cm;
  top: 130px; }

#rodape {
  position: relative;
  top: 130px;
  left: 0;
  font-size: 50%; }
