body {
	background-color: rgb(253, 251, 251);

}

#cabecalho {
	background-color: #036b52;
	position: absolute;
	top: 0;
	left: 0;
	height: 10%;
	width: 100%;
	box-sizing: border-box;
	font-size: 140%;

}

#titulo {
	position: relative;
	text-align: center;
	color: rgb(253, 251, 251);
	
}

#menu li a{
	position: absolute;
	font-size: 140%;
	top: 60px;
	left: 8px;
	color: rgb(253, 251, 251);
}

figure {

	position: relative;
	top: 80px;
	text-align: center;


}

#minha_foto {

	width: 20%;

}

figcaption {

	font-size: 140%;

}

#sobreMim{
	position: relative;
	top: 100px;
	text-align: justify;
}

#listas{
	position: relative;
	top: 130px;
	
}

#sobreListas{
	position: relative;
	top: 130px;
}

#rodape {
	position: relative;
	top: 130px;
	left: 0px;
}